body{
    margin: 0px;
    display: flex;
}

#main_container{
    width: 1024px;
    height: 5052px;
    margin: 0px auto;
    background-color: rgb(171, 220, 240);
    border:1px solid black ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Header{
    
    width: 960px;
    height: 379px;
    background-color: lightgoldenrodyellow;
    display: flex;
    justify-content: center;
    padding: 10px;
    position: absolute;
}
ul{
    height:58px;
    width: 1047px;
    background-color: rgb(97, 197, 233);
    display: flex;
    justify-content: space-evenly; 
    padding: 0px;
    margin: 0px;
    position: fixed;
    list-style-type:none ;
    
    
}
#contact{
    width: 700px;
    height: 346px;
    border: solid 1px rgb(124, 91, 255);
    margin-top: 160px;
}

#box1{
 height: 732px;
 width: 1024px; 
 background-color: rgb(255, 255, 238);
 border: tomato;
 margin: 0px;
 text-align: center;
}
