body{
    margin: 0px;
    display: flex;
}

#main_container{
    width: 1024px;
    height: 5052px;
    margin: 0px auto;
    background-color: rgb(171, 220, 240);
    border:1px solid black ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Header{
    
    width: 960px;
    height: 379px;
    background-color: lightgoldenrodyellow;
    display: flex;
    justify-content: center;
    padding: 10px;
    position: absolute;
    top: 0px;
}
ul{
    height: 50px;
    width:1047px ;
    background-color: rgb(117, 197, 247);
    color: rgb(17, 17, 124);
    display: flex;
    justify-content: space-evenly;
    padding: 0px;
    margin: 0px;
    position: fixed;
    list-style-type: none;
}


#box1{
 height: 732px;
 width: 1024px; 
 background-color: rgb(255, 255, 238);
 border: rgba(233, 167, 53, 0.756);
 margin: 0px;
 text-align: center;
}

#experience{
    width: 1024px;
    height:598px;
    background-color: #e29f68;
    color: rgb(18, 38, 87);
    margin: 0%;
    justify-content: center;
    text-align: center;
}

#Achievements{
 height:570px;
 width: 1024px;
}

#skills{
    width:1024px;
    height: 798px;
}


#Contact{
    width: 1024px;
    height: 570px;
    background-color:#e29f68 ;
    color: rgb(18, 38, 87);
    margin: 0%;
    justify-content: center;
    text-align: center;
}
#Aboutme{
    width: 1024px;
    height: 798px;
    background-color: lightskyblue;
    color:rgb(143, 166, 255)
}

/* <div id="skills">
                 <h1>skills</h1>

           <h3><p>Creative Thinking</p>
            <p> HTML - CSS</p>
            <p> TeamWork</p>
            <p>Problem Solving</p>
            <p> Adobe Photoshop</p>
            <p>Adobe Illustrator</p>
            <p>Adobe indesgin</p>
            <p>Visual arts</p></h3>

        </div> */