body{
    margin: 0px;
    display: flex;
}

#main_container{
    width: 1024px;
    height: 5052px;
    margin: 0px auto;
    background-color: rgb(171, 220, 240);
    border:1px solid black ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Header{
    
    width: 960px;
    height: 379px;
    background-color: lightgoldenrodyellow;
    display: flex;
    justify-content: center;
    padding: 10px;
    position: absolute;
    top: 0px;
}
ul{
    height: 50px;
    width:1047px ;
    background-color: rgb(89, 140, 170);
    display: flex;
    justify-content: space-evenly;
    padding: 0px;
    margin: 0px;
    position: fixed;
    list-style-type: none;
}


#box1{
 height: 732px;
 width: 1024px; 
 background-color: rgb(255, 255, 238);
 border: tomato;
 margin: 0px;
 text-align: center;
}

#experience{
    width: 1024px;
    height:598px;
    background-color: darksalmon;
    color: darkslateblue;
    margin: 0%;
    justify-content: center;
}
#About me{
    width: 1024px;
    height: 598px;
    background-color: lightskyblue;
    color:rgb(143, 166, 255)
}